body {
  background-color: #1a1a1a;
}

img {
  max-width: 95%;
  height: auto;
}

a {
  color: #d6f4af;
  text-decoration: underline;
}

.logoContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.socialContainer {
  max-width: 500px;
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-self: center;
}

.icon {
  width: 100%;
  display: flex;
  filter: grayscale(100%);
}

.icon:hover {
  filter: grayscale(0%);
}

.mainContainer {
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.announcementContainer {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #f1acd4;
  font-size: 8pt;
  margin: 8px;
  text-align: center;
}

.announcementHighlight {
  color: #d6f4af;
}

/* Large rounded green border */
hr {
  max-width: 25%;
  border: 1px solid #9b9b9b;
}
