body {
  background-color: #141414;
  cursor: url('./resources/pointer.png'), auto;
}
:hover {
  cursor: url('./resources/pointer-hover.png'), auto;
}

img {
  max-width: 95%;
  height: auto;
}

a {
  color: #d072b7;
  text-decoration: underline;
}

.logo {
  display: flex;
  align-content: center;
  justify-content: center;
}

.social {
  max-width: 500px;
  margin-top: 20px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-self: center;
}

.icon {
  width: 100%;
  display: flex;
  filter: grayscale(100%);
}

.icon:hover {
  filter: grayscale(0%);
}

.main {
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.announcement {
  font-family: 'Jost', sans-serif;
  font-weight: 100;
  color: #bbb;
  font-size: 15pt;
  font-weight: 400;
  margin: 32px;
  text-align: center;
}

.announcementHighlight {
  font-weight: 600;
  color: #d3f5a6;
}

/* Large rounded green border */
hr {
  max-width: 500px;
  width: 75%;
  border: 1px solid #d072b7;
}
